<ion-view view-title="Управление BNA">
	<ion-content class="has-header">
		<div class="list">
			<div class="button button-block">
			1 Accept notes - принять купюры, определить их номинал и поместить в escrow
			</div>
			<div class="button button-block">
			2 Retract - сбросить купюры в отсек для сброшенных купюр
			</div>
			<div class="button button-block">
			3 Force Encash - поместить купюры из escrow в кассету (счетчик не работает)
			</div>
			<div class="button button-block">
			4 Refund Escrow - выдать обратно купюры в escrow
			</div>
			<div class="button button-block">
			5 Force Refund - сброс состояния устройства и очистка тракта
			</div>
			<div class="button button-block">
			6 Open/Close Shutter - проверка шаттера
			</div>
			<div class="button button-block">
			7 Sort To Front Cassette - сконфигурировать прием в переднюю кассету
			</div>
			<div class="button button-block">
			8 Sort To Rear Cassette - сконфигурировать прием в заднюю кассету
			</div>
		</div>
	</ion-content>
</ion-view>