<ion-view view-title="Управление кардридером">
	<ion-content>
		<div class="list">
			<div class="button button-block">
			1 Enter Card Test - вставить карту
			</div>
			<div class="button button-block">
			2 Read ISO Track 2 Test - прочитать вторую дорожку на магнитной полосе
			</div>
			<div class="button button-block">
			3 Smart Card Reset Test - прочитать чип
			</div>
			<div class="button button-block">
			4 Capture Card - захватить карту
			</div>
			<div class="button button-block">
			5 Shutter Sensor Test - тестирование шторки
			</div>
			<div class="button button-block">
			6 Cleaning Cycle Test - чистка чистящей картой
			</div>
			<div class="button button-block">
			7 Relay and Battery Test - тестирование аккумулятора
			</div>
			<div class="button button-block">
			8 Eject Card Test - вернуть карту
			</div>
		</div>
	</ion-content>
</ion-view>