<ion-view view-title="Диспенсер">
	<ion-content class="has-header  has-footer">
	<div class="list card">

		<div class="item item-divider" ng-if="controller.hasErrors()">Состояние</div>
	    <div class="item" ng-if="controller.hasErrors()">M-Status: 16 (ошибка скорости главного мотора диспенсера)</div>
	    <div class="item item-body" href="#" style="margin: 0 auto; width: 300px;">
	    	<img src="img/dispenser.jpg">
	      
	    </div>
	</div>

	</ion-content>

	<div class="bar bar-footer bar-clear">		
		<div class="button-bar">
		<button class="button button-balanced" ng-click="controller.scan()">
			1 Опросить
		</button>
		<button class="button button-balanced" ui-sref="menu.dispenser-management">
			2 Управление
		</button>
		<button class="button button-balanced" ng-click="controller.openKnowlege()">
			3 База знаний
		</button>
		<button class="button button-balanced" ng-click="controller.openHelper()">
			4 Помощник
		</button>
		</div>
	</div>
</ion-view>