<ion-view view-title="Item">
	<ion-content>
		<!-- <div class="list card"> -->
			<div class="item item-body card">
				<img class="full-image" src="http://www.mdiscounts.ru/assets/images/kl/3fd00b32854e6d96f627daf53194ae761348602697.jpg">
				<h2>
				Шашлык
				</h2>
				<div style="text-align: right;">
				300 руб.
				</div>
				<div style="vertical-align: middle; line-height: 47px;">
				x 1 шт
				<!-- <ion-item>x 1 шт</ion-item> -->

				<button class="button button-clear icon ion-plus-circled">
				</button>
				<button class="button button-clear icon ion-minus-circled">
				</button>
				</div>
				<p>
				Состав, калорийность, вредность, полезность, и т.д.
				</p>
				<button class="button button-block button-positive">
				  Заказать
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>